<div class="container_dashboard">
	<div class="main">
	  <div class="two-column">
		<div class="head">
		  <div class="title home">
		  <%= image_tag @game.hometeam.logo_url, width: "80", height: "80"%>
			<h3><%= @game.hometeam.name %></h3>
		  </div>
		  <div class="title away">
			<h3><%= @game.awayteam.name %></h3>
			<%= image_tag @game.awayteam.logo_url, width: "80", height: "80"%>
		  </div>
		</div>
		<%= image_tag (asset_url 'maglia_deutsch 2.png'), class: "shirt_home"%>
		<%= image_tag (asset_url 'maglia_france.png'), class: "shirt_away"%>
		<div class="info_game">
		  <p class="date"><span class="bg"><span class="text_date">Vendredi 26 Juin - 22h00</span></span></p>
		  <p class="others_infos">
			Stadium : Olympiastadion<br>Audiences : 47 000 places<br>Diffusion : Canal + & BeinSport
		  </p>
		</div>
		<div class="odds">
		  <h3>Average Odds</h3>
		  <% if @game.bwin_odd %>
			  <ul class="average_odds">
	      <%= link_to 'https://sports.bwin.fr' + @game.bwin_odd.home_link, method: "POST", target: '_blank' do %>
	      	<li class="upgrade"><%=@game.bwin_odd.home_odds%></li>
	      <% end %>
	      <%= link_to 'https://sports.bwin.fr' + @game.bwin_odd.draw_link, method: "POST", target: '_blank' do %>
	      	<li class="stable"><%=@game.bwin_odd.draw_odds%></li>
	      <% end %>
	      <%= link_to 'https://sports.bwin.fr' + @game.bwin_odd.away_link, method: "POST", target: '_blank' do %>
	      	<li class="downgrade"><%=@game.bwin_odd.away_odds%></li>
	      <% end %>
			  </ul>
			<% else %>
	      <li class="upgrade">0</li>
	      <li class="upgrade">0</li>
	      <li class="upgrade">0</li>
      <% end %>
		</div>
	  </div>
	  <div class="one-column buy-tips">
		<div class="w-pattern"></div>
		<p> Notre recommandation </p>
		<% if @outcome %>
		<div class="outcome"><br><br><br><p><%= @winning_team.name %></p><%= image_tag @winning_team.logo_url, width: "80", height: "80"%><br><p>Vainqueur du Match</p><br><p style="margin-top:0px !important;font-size: 40px;font-family: 'Gotham-Bold';"><%= (@outcome * 100).round(1) %> % </p></div>
		<% end %>
<!-- 			<div class="outcome"><h2 class="winner_title">Vainqueur</h2><br><ul class="explicit_stats"><li><a class="fav q_away" style="opacity: 1.0;"><%=@winning_team.name%><br><br><span class="big_stats"><%= (@outcome * 100).round(1) %> % </span><%= image_tag @winning_team.logo_url, width: "80", height: "80"%></div> -->

		<%= image_tag asset_url 'buy_lock.png'%>
		<p><span class="gras">unlock</span><br>our recommendation</p>
		<a href="" class="cta-buy">Buy our Tips</a>
		<!-- <form action="" method="POST">
		  <script
		    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		    data-key="pk_test_VqEB8wnWqEjKXwnybjOYnpGp"
		    data-amount="2000"
		    data-name="Demo Site"
		    data-description="1 pronostic (5.00€)"
		    data-image="/128x128.png">
		  </script>
		</form> -->
	  </div>
	</div>
	<div class="data-content">
	  <div class="one-column">
		<div class="head">
		  <div class="drag"><%= image_tag asset_url 'drag_icon.png'%></div>
		  <p class="title_block">Offensive ranking</p>
		  <div class="settings"><a href=""><%= image_tag asset_url 'settings_icon.png'%></a></div>
		</div>
		<div class="o_content">
		  <div class="o_home">
			<h3><%=@game.hometeam.name%></h3>
			<p>89.5</p>
		  </div>
		  <div class="o_away">
			<h3><%=@game.awayteam.name%></h3>
			<p>72.8</p>
		  </div>
		  <div class="barchart">
			<ul class="o_val">
			  <li>600</li>
			  <li>400</li>
			  <li>200</li>
			  <li>0</li>
			</ul>
			<div class="cache">
			  <ul class="o_legend">
				<li>Goal</li>
				<li>Shot</li>
				<li>Shot in</li>
				<li>Offsides</li>
			  </ul>
			</div>
			<div class="content_bottom">
			  <span class="team1 01"></span>
			  <span class="team2 01"></span>
			  <span class="team1 02"></span>
			  <span class="team2 02"></span>
			  <span class="team1 03"></span>
			  <span class="team2 03"></span>
			  <span class="team1 04"></span>
			  <span class="team2 04"></span>
			</div>  
		  </div>
		</div>
	  </div>

	  <div class="one-column player">
		  <div class="head_player">
		  <a href="">
				<svg x="0px" y="0px" viewBox="0 0 430 120" enable-background="new 0 0 430 120" xml:space="preserve">
					<g id="player_title_full">
						<path fill-rule="evenodd" clip-rule="evenodd" fill="#A51547" d="M0,0h430v120H0V0z"/></g>
					<g id="player_title_mid">
						<path fill-rule="evenodd" clip-rule="evenodd" fill="#7E1338" d="M288,0h142v120H258L288,0z"/></g>
				</svg>
				<span class="player_number">3</span>
				<span class="player_firstname">Laure</span>
				<span class="player_name">Boulleau</span>
				<%= image_tag asset_url 'arrow_player.png'%>
			</a>
		</div>
		<% if @game.game_name == "ALLEMAGNE VS FRANCE" %>
			<%= image_tag (asset_url 'boulleau.png'), class: "player_visu" %>
		<%end %>
	  </div>

	  <div class="two-column">
		<div class="head">
		  <div class="drag"><%= image_tag asset_url 'drag_icon.png'%></div>
		  <p class="title_block">Quarter Statistics</p>
		  <div class="settings"><a href=""><%= image_tag asset_url 'settings_icon.png'%></a></div>
		</div>
		<div class="q_subnav">
		  <ul>
			<li><a href="" data-id="2" class="target">Average rating</a></li>
			<li><a href="" data-id="3" class="target active">Possession</a></li>
			<li><a href="" data-id="4" class="target">Attack</a></li>
			<li><a href="" data-id="5" class="target">Defense</a></li>
			<li><a href="" data-id="6" class="target">Goal</a></li>
			<li><a href="" data-id="7" class="target">Shot</a></li>
			<li><a href="" data-id="8" class="target">Pass</a></li>
			<li><a href="" data-id="9" class="target">Free-kick</a></li>
			<li><a href="" data-id="10" class="target">Duel</a></li>
		  </ul>
		</div>
		<div class="q_content">
		  <div class="q_infos">
			<p class="q_title">
				<%= @game.game_name %> <br>
				<span class="sub">Possession</span>
			</p>
			<ul class="explicit_stats">
				<li>
					<a class=" q_home" href="">
						<%=@game.hometeam.name%> <br>
						<span class="big_stats">64%</span> 
					</a>
				</li>
				<li>
					<a class="fav q_away" href="">
						<%=@game.awayteam.name%> <br>
						<span class="big_stats">86%</span> 
					</a>
				</li>
			</ul>
			<div class="q_explicit_legend">
				<p class="title">Legend</p>
				<p class="q_home"><%=@game.hometeam.name%></p>
				<p class="q_away"><%=@game.awayteam.name%></p>
			</div>

			}
		  </div>
		  <div class="q_chart">
			<div class="barchart">
				<ul class="q_val">
				  <li>100</li>
				  <li>75</li>
				  <li>50</li>
				  <li>25</li>
				  <li>0</li>
				</ul>
			  <div class="cache">
				<ul class="q_legend">
				  <li>Q1</li>
				  <li>Q2</li>
				  <li>Q3</li>
				  <li>Q4</li>
				</ul>
			  </div>
				<div class="content_bottom">
					<span class="team1 01"></span>
					<span class="team2 01"></span>
					<span class="team1 02"></span>
					<span class="team2 02"></span>
					<span class="team1 03"></span>
					<span class="team2 03"></span>
					<span class="team1 04"></span>
					<span class="team2 04"></span>
				</div>  
			</div>
		  </div>
		</div>
	  </div>
	  
	  <div class="one-column untouch">
	  <%= image_tag (asset_url 'stats_lock.png'), class: "locked"%>
		<p class="txt_locked">UNAVAILABLE</p>
		<a href="" class="cta_unlock">
		  <h4>GO PRO</h4>
		  <p>to unlock more prominent statistics</p>
		  <%= image_tag asset_url 'arrow_cta.png'%>
		</a>
		<div class="blur">
		  <div class="head">
			<div class="drag"><%= image_tag asset_url 'drag_icon.png'%></div>
			<p class="title_block">Head to Head</p>
			<div class="settings"><a href=""><%= image_tag asset_url 'settings_icon.png'%></a></div>
		  </div>
		</div>
	  </div>
	  
	  <div class="one-column untouch">
	  <%= image_tag (asset_url 'stats_lock.png'), class: "locked"%>
		<p class="txt_locked">UNAVAILABLE</p>
		<a href="" class="cta_unlock">
		  <h4>GO PRO</h4>
		  <p>to unlock more prominent statistics</p>
		  <%= image_tag asset_url 'arrow_cta.png'%>
		</a>
		<div class="blur">
		  <div class="head">
			<div class="drag"><%= image_tag asset_url 'drag_icon.png'%></div>
			<p class="title_block">Head to Head</p>
			<div class="settings"><a href=""><%= image_tag asset_url 'settings_icon.png'%></a></div>
		  </div>
		</div>
	  </div>

	  <div class="one-column untouch">
	  <%= image_tag (asset_url 'stats_lock.png'), class: "locked"%>
		<p class="txt_locked">UNAVAILABLE</p>
		<a href="" class="cta_unlock">
		  <h4>GO PRO</h4>
		  <p>to unlock more prominent statistics</p>
		  <%= image_tag asset_url 'arrow_cta.png'%>
		</a>
		<div class="blur">
		  <div class="head">
			<div class="drag"><%= image_tag asset_url 'drag_icon.png'%></div>
			<p class="title_block">Head to Head</p>
			<div class="settings"><a href=""><%= image_tag asset_url 'settings_icon.png'%></a></div>
		  </div>
		</div>
	  </div>
		  
	  <div class="one-column untouch">
		<%= image_tag (asset_url 'stats_lock.png'), class: "locked"%>
		<p class="txt_locked">UNAVAILABLE</p>
		<a href="" class="cta_unlock">
		  <h4>GO PRO</h4>
		  <p>to unlock more prominent statistics</p>
		  <%= image_tag asset_url 'arrow_cta.png'%>
		</a>
		<div class="blur">
		  <div class="head">
			<div class="drag"><%= image_tag asset_url 'drag_icon.png'%></div>
			<p class="title_block">Head to Head</p>
			<div class="settings"><a href=""><%= image_tag asset_url 'settings_icon.png'%></a></div>
		  </div>
		</div>
	  </div>
		  
	  <div class="one-column untouch">
		<%= image_tag (asset_url 'stats_lock.png'), class: "locked"%>
		<p class="txt_locked">UNAVAILABLE</p>
		<a href="" class="cta_unlock">
		  <h4>GO PRO</h4>
		  <p>to unlock more prominent statistics</p>
		  <%= image_tag asset_url 'arrow_cta.png'%>
		</a>
		<div class="blur">
		  <div class="head">
			<div class="drag"><%= image_tag asset_url 'drag_icon.png'%></div>
			<p class="title_block">Head to Head</p>
			<div class="settings"><a href=""><%= image_tag asset_url 'settings_icon.png'%></a></div>
		  </div>
		</div>
	  </div>
		  
	  <div class="one-column untouch">
	  <%= image_tag (asset_url 'stats_lock.png'), class: "locked"%>
		<p class="txt_locked">UNAVAILABLE</p>
		<a href="" class="cta_unlock">
		  <h4>GO PRO</h4>
		  <p>to unlock more prominent statistics</p>
		  <%= image_tag asset_url 'arrow_cta.png'%>
		</a>
		<div class="blur">
		  <div class="head">
			<div class="drag"><%= image_tag asset_url 'drag_icon.png'%></div>
			<p class="title_block">Head to Head</p>
			<div class="settings"><a href=""><%= image_tag asset_url 'settings_icon.png'%></a></div>
		  </div>
		</div>
	  </div>

	</div>
	<div class="sidebar">
	  <div class="one-column">
		<div class="head">
		  <div class="drag"><%= image_tag asset_url 'drag_icon.png'%></div>
		  <p class="title_block">Pronostiqueurs sur ce match</p>
		  <div class="settings"><a href=""><%= image_tag asset_url 'settings_icon.png'%></a></div>
		</div>
		<table class="table table-bordered table-hover" style="font-size:15px;font-family:'Gotham-Book';">
			<thead>	
				<tr>
					<th> Tipster </th>
					<th> Score </th>
					<th> Amount </th>
				</tr>
			</thead>
			<tbody>
			<% for pick in @picks %>
				<tr>
					<td><%=pick.tipster.name%></td>
					<td><%=pick.tipster.score.round(2)%></td>
					<td><%=pick.amount.round(0)%>€</td>
				</tr>
			<% end %>
				</tbody>
			</table>
	  </div>  
	</div>
  </div>
</div>

<footer>
  <div class="left">
	<ul>
	  <li><a href="">Help</a></li>
	  <li><a href="">Terms & Conditions</a></li>
	  <li><a href="">Site map</a></li>
	  <li><a href="">Blog</a></li>
	  <li><a href="">Betting Odds</a></li>
	</ul>
  </div>
  <div class="center"><p>Copyright © 2015 foxtips.io all rights reserved</p></div>
  <div class="right">
	<ul>
	  <li><a href=""><%= image_tag asset_url 'twitter.png'%></a></li>
     <li><a href=""><%= image_tag asset_url 'fb.png'%></a></li>
     <li><a href=""><%= image_tag asset_url 'insta.png'%></a></li>
	</ul>     
  </div>
</footer>