<div id="popin">
  <div class="signin">
    <div class="head_form">
      <h1> Closed Beta Registration</h1>
      <a href="" onClick="return hive('popin')" class="close"><img src="assets/close_popin.png" alt=""></a>
    </div>
    <form role="form" action="/auth/local" method="post">
      <h2>sign in<br>for access to the private beta</h2>
      <label for="mon_id">
        Name <br>
        <input type="text" class="main" name="identifier" placeholder="">
      </label>
      <label for="mon_id">
        First Name<br>
        <input type="text" class="main" name="identifier" placeholder="">
      </label>
      <label for="mon_id">
        Password<br>
        <input type="password" class="main" name="password" placeholder="">
      </label>
      <label for="mon_id">
        Check Password<br>
        <input type="password" class="main" name="password" placeholder="">
      </label>
      <label for="mon_id">
        E-mail<br>
        <input type="text" class="large" name="identifier" placeholder="">
      </label>
      <label for="mon_id">
        Country<br>
        <input type="text" class="main" name="identifier" placeholder="">
      </label>
      <label for="mon_id">
        Zip Code<br>
        <input type="text" class="main" name="identifier" placeholder="">
      </label>
      <label for="mon_id">
        Adress<br>
        <input type="text" class="large" name="identifier" placeholder="">
      </label>
      <br>
      <button type="submit" class="btn">REGISTER</button>
      </form>
  </div>
</div>
<div class="container">
  <header>
    <div class="logo">
      <%= image_tag asset_url 'logo.png'%>
    </div>
    <div class="baseline">
      <h2>enhance your sports betting analysis</h2>
    </div>
    <div class="nav">
      <div class="menu">
        <ul>
          <li><a href="">Features</a></li>
          <li><a href="">Pricing</a></li>
          <li><a href="">More</a></li>
        </ul>
      </div>
      <div class="register">
        <ul>
          <li><a href="">Sign in</a></li>
          <li><a href="" onClick="return pop('popin')" class="registration">Sign up</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div id="cover">
    <h3>Enhance your sports</br><span class="bigtxt">betting analysis</span></h3><div class="clear"></div>
    <%= image_tag asset_url 'ico_sep.png'%>
    <p>Access decisive data, analyse sports events, and enhance your prediction skills.</br>Become a featured tipster and win money.</p>
    <div class="cta">
      <a href="" class="tryit">Try it now</a>
      <a href="">Pricing</a>
    </div>
  </div>
  <div id="video">
    <a href=""><%= image_tag (asset_url 'button_play.png'), class: "button"%></a>
    <video src=""></video>
  </div>
  <div id="howto">
    <h3>HOW FOXTIPS WORKS</br><span class="bigtxt">BUILT FOR YOUR SUCESS</span></h3><div class="clear"></div></h3>
    <div class="features">
      <%= image_tag (asset_url 'ico_01.png'), class: "icon"%>
      <h4><span class="weight">BEST </span>TIPS</h4>
      <p>Fusce et enim eget nulla.<br>Ante nibh, iaculis, vestibulum pellentesque.<br>Proin convallis quam, ut placerat.</p>
    </div>
    <div class="features">
      <%= image_tag (asset_url 'ico_02.png'), class: "icon"%>
      <h4><span class="weight">BANKROLL </span>MANAGER</h4>
      <p>Fusce et enim eget nulla.<br>Ante nibh, iaculis, vestibulum pellentesque.<br>Proin convallis quam, ut placerat.</p>
    </div>
    <div class="features">
      <%= image_tag (asset_url 'ico_03.png'), class: "icon"%>
      <h4><span class="weight">DATA </span>ANALYSIS</h4>
      <p>Fusce et enim eget nulla.<br>Ante nibh, iaculis, vestibulum pellentesque.<br>Proin convallis quam, ut placerat.</p>
    </div>
    <div class="features">
      <%= image_tag (asset_url 'ico_04.png'), class: "icon"%>
      <h4><span class="weight">MULTI </span>PLATFORM</h4>
      <p>Fusce et enim eget nulla.<br>Ante nibh, iaculis, vestibulum pellentesque.<br>Proin convallis quam, ut placerat.</p>
    </div>
    <div class="features">
      <%= image_tag (asset_url 'ico_05.png'), class: "icon"%>
      <h4><span class="weight">PRIZEPOOL </span>COMPETITION</h4>
      <p>Fusce et enim eget nulla.<br>Ante nibh, iaculis, vestibulum pellentesque.<br>Proin convallis quam, ut placerat.</p>
    </div>
  </div>
  <div id="pricing">
    <div class="title">
      <h3>PRICING</h3>
      <%= image_tag asset_url 'sep.png'%>
    </div>
    <div class="bloc_price">
      <div class="head">
        <h5>Basic A</h5>
        <ul>
          <li>Tips per unit</li>
          <li>Odds comparator</li>
          <li>*</li>
          <li>*</li>
        </ul>
      </div>
      <div class="price a">
        <p>199$</p>
      </div>
    </div>
    <div class="bloc_price">
      <div class="head">
        <h5>Basic B</h5>
        <ul>
          <li>Tips per unit</li>
          <li>Odds comparator</li>
          <li>*</li>
          <li>*</li>
        </ul>
      </div>
      <div class="price b">
        <p>199$</p>
      </div>
    </div>
    <div class="bloc_price">
      <div class="head">
        <h5>Basic C</h5>
        <ul>
          <li>Tips per unit</li>
          <li>Odds comparator</li>
          <li>*</li>
          <li>*</li>
        </ul>
      </div>
      <div class="price c">
        <p>199$</p>
      </div>
    </div>
    <div class="bloc_price">
      <div class="head">
        <h5>Premium</h5>
        <ul>
          <li>Tips per unit</li>
          <li>Odds comparator</li>
          <li>*</li>
          <li>*</li>
        </ul>
      </div>
      <div class="price pro">
        <p>199$</p>
      </div>
    </div>
  </div>
  <div id="aboutus">
    <h3>THEY TALK</br><span class="bigtxt">ABOUT US</span></h3><div class="clear"></div></h3>
    <div class="imgcontent">
      <%= image_tag asset_url 'equipe.png'%>
    </div>
    <div class="imgcontent">
      <%= image_tag asset_url 'tc.png'%>
    </div>
    <div class="imgcontent">
      <%= image_tag asset_url 'sofoot.png'%>
    </div>
  </div>
  <div id="mobileapp">
    <h3>coming soon</br><span class="bigtxt">on your phone</span></h3><div class="clear"></div></h3>
    <div class="store">
      <%= image_tag asset_url 'app_store.png'%>
      <%= image_tag asset_url 'gstore.png'%>
    </div>
    <%= image_tag (asset_url 'mobile.png'), class: "big_pic"%>
  </div>
</div>
<footer>
  <div class="left">
    <ul>
      <li><a href="">Help</a></li>
      <li><a href="">Terms & Conditions</a></li>
      <li><a href="">Site map</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Betting Odds</a></li>
    </ul>
  </div>
  <div class="center"><p>Copyright © 2015 foxtips.io all rights reserved</p></div>
  <div class="right">
    <ul>
      <li><a href=""><%= image_tag asset_url 'twitter.png'%></a></li>
      <li><a href=""><%= image_tag asset_url 'fb.png'%></a></li>
      <li><a href=""><%= image_tag asset_url 'insta.png'%></a></li>
    </ul>     
  </div>
</footer>
</body>
