<div id="popin">
  <div class="signin">
    <div class="head_form">
      <h1> Accès privé à la Beta</h1>
      <a href="" onClick="return hive('popin')" class="close"><img src="assets/close_popin.png" alt=""></a>
    </div>
    <%= form_for(User.new, :as => :user, :url => registration_path(:user)) do |f| %>
      <h2>Inscrivez vous pour<br>un accès anticipé</h2>
      <%= f.label(:email) %>
      <%= f.email_field(:email, class: "large") %>
      <br>
      <%= f.label 'Mot de passe' %>
      <br>
      <%= f.password_field(:password, class: "large") %>
      <br>
      <%= f.label "Confirmation de mot de passe" %>
      <%= f.password_field(:password_confirmation, class: "large") %>
      <%= f.submit "Inscription", class: 'btn' %>
    <% end %>
  </div>
</div>
<div class="container">
  <header>
    <div class="logo">
      <%= image_tag asset_url 'logo.png'%>
    </div>
    <div class="baseline">
      <h2>Gagnez de l'argent aux paris sportifs</h2>
    </div>
    <div class="nav">
      <div class="menu">
        <ul>
          <li><a href="">Fonctionnalités</a></li>
          <li><a href="">Prix</a></li>
          <li><a href="">Plus</a></li>
        </ul>
      </div>
      <div class="register">
        <ul>
          <li><a href="">Connexion</a></li>
          <li><a href="" onClick="return pop('popin')" class="registration">Inscription</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div id="cover">
    <h3>Gagnez de l'argent</br><span class="bigtxt">aux paris sportifs</span></h3><div class="clear"></div>
    <%= image_tag asset_url 'ico_sep.png'%>
    <p>Accéder aux meilleurs pronostics aux monde. Utilisez nous outils pour faire des analyses précises des rencontres. Gagnez de l'argent.</p>
    <div class="cta">
      <a href="" class="tryit">Essayez maintenant</a>
      <a href="">Prix</a>
    </div>
  </div>

  <div id="video">
  <%= video_tag (asset_url 'dashboard_720x450.mp4'), width: '720', height: '450', id: "mockup_video", type: 'video/mp4'%>
    <div class="overlay_video"></div>
    <a href=""><%= image_tag (asset_url 'button_play.png'), class: "button"%></a>
  </div>

  <div id="howto">
    <h3>HOW FOXTIPS WORKS</br><span class="bigtxt">BUILT FOR YOUR SUCESS</span></h3><div class="clear"></div></h3>

    <div class="features">
      <div class="icon icon_01"></div>
      <h4><span class="weight">BEST </span>TIPS</h4>
      <p>Fusce et enim eget nulla.<br>Ante nibh, iaculis, vestibulum pellentesque.<br>Proin convallis quam, ut placerat.</p>
      <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 458.4 411" enable-background="new 0 0 458.4 411" xml:space="preserve">
      <path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
        M448.6,79.4c0,10.7,0,261.4,0,271.1c0,26.7,0,46.9,0,46.9c0,2.7-2.1,4.8-4.8,4.8c0,0-280.8,0-386.7,0 M45.3,402.2
        c-19.1,0-30.6,0-30.6,0c-2.7,0-4.8-2.1-4.8-4.8V13.7c0-2.7,2.1-4.8,4.8-4.8h429c2.7,0,4.8,2.1,4.8,4.8c0,0,0,22.8,0,51.9"/>
      </svg>
   
    </div>

    <div class="features">
      <div class="icon icon_02"></div>
      <h4><span class="weight">BANKROLL </span>MANAGER</h4>
      <p>Fusce et enim eget nulla.<br>Ante nibh, iaculis, vestibulum pellentesque.<br>Proin convallis quam, ut placerat.</p>
      <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 458.4 411" enable-background="new 0 0 458.4 411" xml:space="preserve">
      <path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
        M448.6,79.4c0,10.7,0,261.4,0,271.1c0,26.7,0,46.9,0,46.9c0,2.7-2.1,4.8-4.8,4.8c0,0-280.8,0-386.7,0 M45.3,402.2
        c-19.1,0-30.6,0-30.6,0c-2.7,0-4.8-2.1-4.8-4.8V13.7c0-2.7,2.1-4.8,4.8-4.8h429c2.7,0,4.8,2.1,4.8,4.8c0,0,0,22.8,0,51.9"/>
      </svg>
   
    </div>

    <div class="features">
      <div class="icon icon_03"></div>
      <h4><span class="weight">DATA </span>ANALYSIS</h4>
      <p>Fusce et enim eget nulla.<br>Ante nibh, iaculis, vestibulum pellentesque.<br>Proin convallis quam, ut placerat.</p>
      <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 458.4 411" enable-background="new 0 0 458.4 411" xml:space="preserve">
      <path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
        M448.6,79.4c0,10.7,0,261.4,0,271.1c0,26.7,0,46.9,0,46.9c0,2.7-2.1,4.8-4.8,4.8c0,0-280.8,0-386.7,0 M45.3,402.2
        c-19.1,0-30.6,0-30.6,0c-2.7,0-4.8-2.1-4.8-4.8V13.7c0-2.7,2.1-4.8,4.8-4.8h429c2.7,0,4.8,2.1,4.8,4.8c0,0,0,22.8,0,51.9"/>
      </svg>
 
    </div>

    <div class="features">
      <div class="icon icon_04"></div>
      <h4><span class="weight">MULTI </span>PLATFORM</h4>
      <p>Fusce et enim eget nulla.<br>Ante nibh, iaculis, vestibulum pellentesque.<br>Proin convallis quam, ut placerat.</p>
      <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 458.4 411" enable-background="new 0 0 458.4 411" xml:space="preserve">
      <path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
        M448.6,79.4c0,10.7,0,261.4,0,271.1c0,26.7,0,46.9,0,46.9c0,2.7-2.1,4.8-4.8,4.8c0,0-280.8,0-386.7,0 M45.3,402.2
        c-19.1,0-30.6,0-30.6,0c-2.7,0-4.8-2.1-4.8-4.8V13.7c0-2.7,2.1-4.8,4.8-4.8h429c2.7,0,4.8,2.1,4.8,4.8c0,0,0,22.8,0,51.9"/>
      </svg>
   
    </div>

    <div class="features">
      <div class="icon icon_05"></div>
      <h4><span class="weight">PRIZEPOOL </span>COMPETITION</h4>
      <p>Fusce et enim eget nulla.<br>Ante nibh, iaculis, vestibulum pellentesque.<br>Proin convallis quam, ut placerat.</p>
      <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 458.4 411" enable-background="new 0 0 458.4 411" xml:space="preserve">
      <path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
        M448.6,79.4c0,10.7,0,261.4,0,271.1c0,26.7,0,46.9,0,46.9c0,2.7-2.1,4.8-4.8,4.8c0,0-280.8,0-386.7,0 M45.3,402.2
        c-19.1,0-30.6,0-30.6,0c-2.7,0-4.8-2.1-4.8-4.8V13.7c0-2.7,2.1-4.8,4.8-4.8h429c2.7,0,4.8,2.1,4.8,4.8c0,0,0,22.8,0,51.9"/>
      </svg>

    </div>

  </div>
  <div id="pricing">
    <div class="title">
      <h3>PRICING</h3>
      <%= image_tag asset_url 'sep.png'%>
    </div>
    <div class="bloc_price">
      <div class="head">
        <h5>Basic</h5>
        <ul>
          <li>8 pronostics</li>
          <li>Statistiques basiques</li>
          <li>Bankroll Manager</li>
          <li></li>
        </ul>
      </div>
      <div class="price a">
        <p>25€</p>
      </div>
    </div>
    <div class="bloc_price">
      <div class="head">
        <h5>Premium</h5>
        <ul>
          <li>20 pronostics</li>
          <li>Statistiques basiques</li>
          <li>Bankroll Manager</li>
          <li></li>
        </ul>
      </div>
      <div class="price b">
        <p>50€</p>
      </div>
    </div>
    <div class="bloc_price">
      <div class="head">
        <h5>Premium+</h5>
        <ul>
          <li>50 pronostics</li>
          <li>Statistiques détaillées</li>
          <li>Bankroll Manager</li>
          <li></li>
        </ul>
      </div>
      <div class="price c">
        <p>99€</p>
      </div>
    </div>
    <div class="bloc_price">
      <div class="head">
        <h5>Pro</h5>
        <ul>
          <li>125 pronostics</li>
          <li>Statistiques détaillées</li>
          <li>Bankroll Manager</li>
          <li></li>
        </ul>
      </div>
      <div class="price pro">
        <p>199€</p>
      </div>
    </div>
  </div>
  <div id="aboutus">
    <h3>THEY TALK</br><span class="bigtxt">ABOUT US</span></h3><div class="clear"></div></h3>
    <div class="imgcontent">
      <%= image_tag asset_url 'equipe.png'%>
    </div>
    <div class="imgcontent">
      <%= image_tag asset_url 'tc.png'%>
    </div>
    <div class="imgcontent">
      <%= image_tag asset_url 'sofoot.png'%>
    </div>
  </div>
  <div id="mobileapp">
    <h3>coming soon</br><span class="bigtxt">on your phone</span></h3><div class="clear"></div></h3>
    <div class="store">
      <%= image_tag asset_url 'app_store.png'%>
      <%= image_tag asset_url 'gstore.png'%>
    </div>
    <%= image_tag (asset_url 'mobile.png'), class: "big_pic"%>
  </div>
</div>
<footer>
  <div class="left">
    <ul>
      <li><a href="">Help</a></li>
      <li><a href="">Terms & Conditions</a></li>
      <li><a href="">Site map</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Betting Odds</a></li>
    </ul>
  </div>
  <div class="center"><p>Copyright © 2015 foxtips.io all rights reserved</p></div>
  <div class="right">
    <ul>
      <li><a href=""><%= image_tag asset_url 'twitter.png'%></a></li>
      <li><a href=""><%= image_tag asset_url 'fb.png'%></a></li>
      <li><a href=""><%= image_tag asset_url 'insta.png'%></a></li>
    </ul>     
  </div>
</footer>
</body>
