!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" }
    %title FoxTips
    / = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag "application", params[:controller], :media => "all"
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    / = javascript_include_tag "path/to/highcharts.js", "chartkick"
    / = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', params[:controller],'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ class: "#{controller.controller_name}#{controller.action_name}" }
    - if controller_name != "home" 
      - if controller_name != "picks"
        = render('layouts/header')
    = yield
